/* jssor slider thumbnail navigator skin 11 css */
/*
.jssort11 .p            (normal)
.jssort11 .p:hover      (normal mouseover)
.jssort11 .pav          (active)
.jssort11 .pav:hover    (active mouseover)
.jssort11 .pdn          (mousedown)
*/
.jssort11
{
        font-family: "open sans";
}
.jssort11 .i, .jssort11 .pav:hover .i
{
        position: absolute;
        top:3px;
        left:3px;
        WIDTH: 60px;
        HEIGHT: 30px;
        border: white 1px dashed;
}
* html .jssort11 .i
{
        WIDTH /**/: 62px;
        HEIGHT /**/: 32px;
}
.jssort11 .pav .i
{
        border: white 1px solid;
}
.jssort11 .t, .jssort11 .pav:hover .t
{
        position: absolute;
        padding-top: 5px;
        /*left: 120px;*/ /*left: 5px;*/
        padding-left: 5px;
        width:197px;
        height: auto;
        line-height:12px;
        /*text-align: center;*/
        color:#fff;
        font-size:8px;
        font-weight:bold;
        /*backface-visibility: hidden !important;
        -webkit-backface-visibility: hidden !important;
        transform: translateZ(0) !important;
        -webkit-transform:  translateZ(0) !important;*/
}
/*.jssort11 .t a {
        backface-visibility: hidden !important;
        -webkit-backface-visibility: hidden !important;
        transform: translateZ(0) !important;
        -webkit-transform:  translateZ(0) !important;
}*/
.jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t
{
        color:#fff;
}
.jssort11 .c, .jssort11 .pav:hover .c
{
        position: absolute;
        top: 5px;
        left: 3px;
        width:197px;
        height: auto;
        line-height:14px;
        color:#fff;
        font-size:9px;
        font-weight:400;
        overflow: hidden;
}
.jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c
{
        color:#fc9835;
}
.jssort11 .t, .jssort11 .c
{
        transition: color 2s;
    -moz-transition: color 2s;
    -webkit-transition: color 2s;
    -o-transition: color 2s;
}
.jssort11 .p:hover .t, .jssort11 .phv .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .phv .c, .jssort11 .pav:hover .c
{
        transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort11 .p
{
        background:#181818;
        height: 59px !important;
        
}
.hslider_slide-1 {
    padding: 5%;
}
.hslider_slide-2 , .hslider_slide-2  .p
{
        height: 59px !important; 
}
.jssort11 .pav, .jssort11 .pdn
{
        background:#462300;
}
.jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover
{
        background:#333;
}


/* home page slider custom style */
#g1-precontent #slider_here {
        display: none;
}
#homepage_slider {
    border-bottom: 5px solid #000 !important;
}
.jssortthumb_container_singleav div:first-child {
        background-color: #900016;
        box-shadow: inset 10px 20px 5px -20px #000000;
}
.hslider_slide-0 .jssortthumb_container_single div {
        background-color: #989898;
}
.hslider_slide-1 .jssortthumb_container_single div {
        background-color: #676664;
}
.hslider_slide-2 .jssortthumb_container_single div {
        background-color: #444444;
}
.hslider_slide-3 .jssortthumb_container_single div {
        background-color: #363636;
}
.hslider_slide-0 .tthumb_1, .hslider_slide-2 .tthumb_3{
    margin-left: 22%;
    padding-top: 7%;

}
.hslider_slide-0{
        height: 59px !important;
        padding: 5%;
}
.hslider_slide-1 .tthumb_2, .hslider_slide-3 .tthumb_4 {
        padding-top: 3%;
        margin-left: 22%;
}
.jssortthumb_container_single:hover div {
        background-color: #900016;
        box-shadow: inset 10px 20px 5px -20px #000000;
}
/*
#slider1_container {
        max-height: 360px !important;
}
@media screen and (min-width: 980px) {
        .jssortthumb_container {
                height: 220px !important;
        }
        .jssortthumb_container_single {
                height: 55px !important;
        }
}*/
