@font-face {
    font-family: 'HelveticaCE35ThinRegular';
    src: url('helveticaneuece35thin.eot');
    src: url('helveticaneuece35thin.eot') format('embedded-opentype'),
         url('helveticaneuece35thin.woff2') format('woff2'),
         url('helveticaneuece35thin.woff') format('woff'),
         url('helveticaneuece35thin.ttf') format('truetype'),
         url('helveticaneuece35thin.svg#HelveticaCE35ThinRegular') format('svg');
}
